body{
	background : url('../../screens/resources/quiz-app_bg_A.jpg') repeat;
	color:#FFFFFF;
}

.logoHeading{
        background-image: url("../../screens/resources/quiz-logo_A.png");
        background-repeat: no-repeat;
        height: 6.375em;
        width: 25.175em;	
        margin:auto
}

#home_view .homeViewcontent p{
    position:relative;
    top:30%;
    
}

span.question, span.weight{
	color:#00deff;
}

#quiz_view.section {
    padding-top:0;
}