body{
	background : url('../../screens/resources/quiz-app_bg_A.jpg') repeat;
	color:#FFFFFF;
}

.logoHeading{
        background-image: url("../../screens/resources/quiz-logo_A.png");
        background-repeat: no-repeat;
        height: 6.375em;
        width: 25.175em;	
        margin:auto
}

#home_view .homeViewcontent p{
    position:relative;
    top:30%;
    
}

.content #question_view ul li{
    background-color:rgba(255, 255, 255, 0.15);
}
.content #question_view ul li.answer:hover {
    background-color:rgba(255, 255, 255, 0.25);
}

.content #question_view ul li.answer.active{
    background-color:rgba(255, 255, 255, 0.35);
    background-image: url("../../screens/resources/tick.png");
    background-repeat: no-repeat;
}

#quiz_view.section {
    padding-top:0;
}