<header class="header questionsViewHeader">
	<div class="headerSpanContainer">
    <span class='question'>Question <%=current%>/<%=total%></span>
    <span class='timer'>Timer</span>
    <span class='weight'>Weight :<%=weight%></span>
</header>

<div class='content'>
</div>

<footer>
	<span class='prev'>
		<% if(current > 1) { %>
	    	<a href='#quiz/q<%=(current - 1)%>'>Prev</a>
	   	<% } %>
	   	&nbsp;
   	</span>
   	
   	<span class='next'>
	    <% if(current < total) { %>
		    <a href='#quiz/q<%=(current + 1)%>'>Next</a>
	    <% } else { %>
		    <a href='#score'>Score</a>
	    <% } %>
   	</span>
   	
   	<span class='pass'>
	   	&nbsp;
		<% if(current < total) { %>
		    <a href='#quiz/q<%=(current + 1)%>'>Pass</a>
	   	<% } %>
   	</span>
</footer>
