<header>
    <span class='question_status'>Question 1/10</span>
    <span class='timer'>Timer</span>
    <span class='weight'>Weight :5</span>
</header>

<div class='content'>
    <p id='question'>Which one of the five choices makes the best comparison? Finger is to Hand and Leaf is to ___</p>
    <ul>
        <li><input type='radio' name='answer' value='twig' /> Twig</li>
        <li><input type='radio' name='answer' value='tree' /> Tree</li>
        <li><input type='radio' name='answer' value='branch' /> Branch</li>
        <li><input type='radio' name='answer' value='blossom' /> Blossom</li>
    </ul>
</div>

<footer>
    <a href='#home'>Quit</a>
    <input type='button' class='next' value='next' />
    <a href='#quiz/q1'>Pass</a>
</footer>