<header class="header scoreViewHeader">
    <div class="logoHeading"></div>
    	<p>
		Results
	</p>
</header>

<div class='content scoreViewContent'>
    <p>
        <div class="total_score" >
			Congratulations
			Score : <%=score %>/<%=total_score%>
		</div>
    </p>
	<p>
		<%=correct_questions %>/<%=total_questions%>
	</p>
</div>
<footer class='footer scoreViewFooter'>
    <ul>
        <li>
            <input type='button' value='Play Again' class='play_again' />
        </li>
        <li>
            <input type='button' value='New Game' class='new_game' />
        </li>
    </ul>
</footer>
