<header class="header scoreViewHeader">
    <h1>Quiz</h1>
</header>

<div class='content scoreViewContent'>
	<p>
		Results
	</p>
    <p>
        <div>
			Congratulations
			Score : <%=score %>
		</div>
    </p>
	<p>
		<%=correct_questions %>/<%=total_questions%>
	</p>
</div>

<footer class='footer scoreViewFooter'>
    <ul>
        <li>
            <input type='button' value='Play Again' class='play_again' />
        </li>
        <li>
            <input type='button' value='New Game' class='new_game' />
        </li>
    </ul>
</footer>