<header class="header scoreViewHeader">
    <div class="logoHeading"></div>
    	<p>
		<%=locale['Results']%>
	</p>
</header>

<div class='content scoreViewContent'>
    <p>
        <%=locale['Congratulations']%>!
        <div class="total_score" >
    	  <%=locale['Score']%> : <%=score %>/<%=total_score%>	
		</div>
    </p>
</div>
<section class="more_details">
     <span class="correct_questions" ><%=correct_questions %></span>/<%=total_questions%>
</section>
<footer class='footer scoreViewFooter'>
    <ul>
        <li>
            <input type='button' value='<%=locale['PlayAgain']%>' class='play_again' />
        </li>
        <li>
            <input type='button' value='<%=locale['NewGame']%>' class='new_game' />
        </li>
    </ul>
</footer>
